@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap&subset=latin-ext,vietnamese');

body{
	background-color:transparent;
}
p 
{ 
	padding:0px; margin:0px;
}
.pagemaster {
	width: 100%;
	background-image:transparent;
}
.skinmaster {
	background-color:transparent;
}
.extrapane {
	vertical-align:center;
	background-color: transparent;
}

.logopane {
	vertical-align:center;
	background-color: transparent;
}

.bannerpane {
	vertical-align:center;
	background-color: rgb(5,113,179,0.4)
}
.leftpane {
	vertical-align:center;
	background-image:transparent;
	
	}
.contentpane {
	background-image:transparent;
	vertical-align:center;
	padding-right:4px;
	padding-left:4px;
}
.rightpane {
	vertical-align:center;
	background-image:transparent;
	
}
.toppane {
	vertical-align:center;
	background-image:transparent;
}
.bottompane {
	vertical-align:center;
    background-color: #0943a0;
}
.extrabottompane {
	background-image:transparent;
	vertical-align:center;
}
.main_dnnmenu_container {
	background-color: transparent; 
}


* Navigation scroll
*/
.nav-container{}
.f-nav{ z-index: 9999; position: fixed; top: 0; width: 100%; background-color: rgb(51,100,177,0.8);; transition: all 0.3s ease 0s; vertical-align: center; box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);} /* this make our menu float top */


.main_dnnmenu_bar 
{
	cursor: pointer; 
	cursor: hand; 
	display:table;
}
.main_dnnmenu_submenu 
{
	border-bottom: 8px solid white;
	border-top: 8px solid white;
	max-width:700px;
	min-width:250px;
	z-index: 1000; 
	cursor: pointer;                  
	cursor: hand; 
	opacity: 1;
	/* for IE */
    filter:alpha(opacity=1);
    /* CSS3 standard */
	box-shadow: 0 1px 2px rgba(86, 86, 90, 0.5);
	/* transform: perspective(600px) rotateX(-90deg);*/
	/* For IE 8 */
	-ms-filter: "progidXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#cccccc')";
	/* For IE 5.5 - 7 */
	filter: progidXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#cccccc');
/*filter:progid:DXImageTransform.Microsoft.Shadow(color='#696969', Direction=135, Strength=3); */
}

.main_dnnmenu_rootitem  { /*TD if menu option for using tables is on*/
	background-position: left;
	color: white;
	font-size: 15px;
    font-family: 'Montserrat', sans-serif;
	font-weight: 500;
    padding: 20px 11px 20px 12px;
	transition: all 300ms ease-in-out 0s;
    -webkit-transition: all 300ms ease-in-out 0s;
	margin-right: 4px;
	background-color: TRANSPARENT;
	white-space: nowrap;  /*Word wrapping menu item now optional*/
    display:inline-block;	  
    text-align:center;
}

.main_dnnmenu_itemhover {
	color: #f4c024;
}

.main_dnnmenu_rootitemactive  { 
	color: #f4c024;
}

.main_dnnmenu_item td { /*TD if menu option for using tables is on*/
	padding: 16px 4px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: normal;
	background-color: white;
	color: #8c8c8c;
    /*white-space: nowrap; */ /*Word wrapping menu item now optional*/	
	transition: all 300ms ease-in-out 0s;
    -webkit-transition: all 300ms ease-in-out 0s;
}

.main_dnnmenu_itemhover td {  
	color: #0943a0;
	background-color: #f5f5f5;	
}
.main_dnnmenu_icon {
	cursor: pointer; 
	cursor: hand; 
	text-align: center; 
	width: 15px; 
	height: 100%;
}
.text
{
	color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.2px;
}
a.text:link, a.text:visited{
text-decoration: none;
color: white;
}
a.text:hover{
color: #f4c024;
}
a.text:active{
color: white;
}

.secondtext
{
	color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.2px;
}
a.secondtext:link, a.text:visited{
text-decoration: none;
color: white;
}
a.secondtext:hover{
color: #f4c024;
}
a.secondtext:active{
color: white;
}


